NHIF_USERNAME=
NHIF_PASSWORD=
NHIF_MODE=production

NHIF_TOKEN_URL=https://verification.nhif.or.tz/externalouth/connect/token
NHIF_AUTHORIZATION_BASE_URL=https://verification.nhif.or.tz/AuthorizationService/
NHIF_CLIENT_ID=
NHIF_CLIENT_SECRET=
NHIF_SCOPE=MedicalService

NHIF_VISIT_TYPE_ID=1
NHIF_ENFORCE_ONLINE_FORM=true
NHIF_METHOD_USED=Online
NHIF_BIOMETRIC_METHOD=None
NHIF_NARRATION=undefined
